<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="./css/home.css" rel="stylesheet" />
</head>
<body>
  <!-- <div class="login">
    <h4>登录</h4>
    <form method="get">
      <label for="username">
        <input type="text" id="username">
      </label>
      <label for="password">
        <input type="password" id="password">
      </label>
    </form>
    <h4>注册</h4>
    <form method="post">
      <label for="username">
        <input type="text" id="username">
      </label>
      <label for="password">
        <input type="password" id="password">
      </label>
      <input type="rest" value="重置">
      <input type="submit" value="重置">
    </form>
  </div> -->
  <button>登录</button>
  <button>注册</button>
</body>
<!-- <script src="./js/home.js"></script> -->
</html>